{{> layout/header}}

<body>
{{> profileHeader }}

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="row">
        <ul class="nav justify-content-center">
            {{#allTrainer}}
            <div class="container">
                <h3>{{trainer.name}}</h3>
                {{#team}}
                    {{> layout/pokemonDetail }}
                {{/team}}
            </div>
            {{/allTrainer}}
        </ul>
    </div>
</div>

</body>

{{> layout/footer}}
